.DS_Store
._*
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
Language selection implementation.md
Language selection mockup.md
README-test.md
FetchInstallerPkg/Languages/LanguageManager-bak.swift
App/Download.Full.Installer-2.0.7-96.zip
App/Download.Full.Installer-2.1.0-102.zip
App/DownloadFullInstaller-2.1.0-111.zip
