.DS_Store
._*
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
Language selection implementation.md
Language selection mockup.md
Apps/
DownloadFullInstaller.xcodeproj/project.xcworkspace/xcuserdata/yo.xcuserdatad/UserInterfaceState.xcuserstate
