.DS_Store
._*
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
DownloadFullInstaller.xcodeproj/project.xcworkspace/xcuserdata/yo.xcuserdatad/UserInterfaceState.xcuserstate
DownloadFullInstaller.xcodeproj/project.xcworkspace/xcuserdata/paulillalira.xcuserdatad/UserInterfaceState.xcuserstate
